<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node name="Graphs" pkg="rqt_plot" type="rqt_plot" output="screen" args="
    /inverted_pendulum/current_state/curr_x_dot 
    /inverted_pendulum/current_state/curr_x_dot_dot 
    /inverted_pendulum/current_state/curr_theta_dot  
    /inverted_pendulum/current_state/curr_theta_dot_dot
    /inverted_pendulum/control_force" />


    <include file="$(find inverted_pendulum_controller)/launch/task1.launch" />

    <node name="Oscillation_node" pkg="inverted_pendulum_controller" type="goal2.py" />

</launch>